.MainContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    background-color:rgb(158, 176, 181);
    margin-bottom: 70px;
    border:  rgb(66,86,166);
    border-width: 10px;
    margin: 10px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    padding-right: 41px;
    img {
        background-color: whitesmoke;
        height: 20vh;
        margin: 20px;
        padding: 2px;
        border: rgb(255,202,6);
        border-radius: 50%;
        border-width: 5px;
        border-style: solid;
        box-shadow: rgb(66,86,166) 2px 2px 2px 5px;
        transition: transform 1.2s ease-in-out;
        transform: scale(.8);
        
    }

a {
    text-decoration:none;
    transform: scale(1.04);
    :hover {
        cursor: pointer;
        color: springgreen;
        transform: scale(1.04);
        transition: .75s ease-in-out;
        transition-delay: .6s;
    }

}

ul {
    list-style: none;
}
    
.button {
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
}

.Sort {  
    width: auto;
    display: flex;
    flex-direction: column;
    background-color:rgb(158, 176, 181);
    margin-bottom: 70px;
    border:  rgb(66,86,166);
    border-width: 10px;
    margin: 10px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    padding-right: 41px;
    .Buttons {
        width: auto;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        padding: 10px;
    }
    
    a {
        text-decoration:none;
        transform: scale(1.05);
        :hover {
            cursor: pointer;
            color: springgreen;
            transform: scale(1.05);
            transition: .75s ease-in-out;
            transition-delay: .75s;
        }
    
    }
    
    ul {
        list-style: none;
    }
    
    
}

.Search {
    width: auto;
    display: flex;
    flex-direction: column;
    background-color:rgb(158, 176, 181);
    margin-bottom: 70px;
    border:  rgb(66,86,166);
    border-width: 10px;
    margin: 10px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    padding-right: 41px;
    img {
        background-color: whitesmoke;
        height: 20vh;
        margin: 20px;
        padding: 2px;
        border: rgb(255,202,6);
        border-radius: 50%;
        border-width: 5px;
        border-style: solid;
        box-shadow: rgb(66,86,166) 2px 2px 2px 5px;
        transition: transform 1.2s ease-in-out;
        transform: scale(.8);
        
    }
.Buttons {
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

a {
    text-decoration:none;
    transform: scale(1.04);
    :hover {
        cursor: pointer;
        color: springgreen;
        transform: scale(1.04);
        transition: .75s ease-in-out;
        transition-delay: .6s;
    }

}

ul {
    list-style: none;
}
    
}

